:host ::ng-deep tr {
  margin: 0.5rem;
  background-color: white;
}

.main-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/**
Table
*/
.main-container .table-wrapper table {
  width: 98%;
  height: 60vh;
  margin: auto;
  padding: 0 1rem 2rem 1rem;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing:0 15px;
  background: lightgray;
  overflow: auto;
}

.table-wrapper {
  display: flex;
  flex-direction: column;
}

.table-wrapper div {
  margin: 0 2rem 2rem 0;
  align-self: flex-end;
}

.table-wrapper div button {
  width: 6rem;
}

.table-wrapper div button:first-child {
  margin-right: 2rem;
}

/**
Table ---> tr
*/
/deep/ table thead tr.mat-header-row {
  background-color: transparent;
}

/deep/ table tbody tr.mat-row {
  cursor: pointer;
}

/**
Table --> th
*/
/deep/ table thead tr th.mat-header-cell {
  border-bottom-style: none;
}

.table-wrapper {
  height: 87vh;
  width: 90vw;
  background-color: #fff;
  display: flex;
  margin-top: -4rem;
  overflow: auto;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  /*background: lightgray;*/
}

 td .mat-cell {
  vertical-align: top;
  padding: 1rem;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.expanded-wrapper {
  overflow: hidden;
  margin-top: 2rem;
}

/**
Table - classes for each column
*/

.mat-column-name {
  width: 10%;
}

.mat-column-description {
  width: 30%;
}

.mat-column-percentage {
  width: 15%;
}

/*.mat-column-dateCreated {*/
/*  width: 10%;*/
/*}*/

/*.mat-column-createdBy {*/
/*  width: 5%;*/
/*}*/

/*.mat-column-lastUpdatedBy {*/
/*  width: 5%;*/
/*}*/

.mat-column-visible {
  width: 10%;
}

.mat-column-modeIcon {
  width: 10%;
}

