<div class="main-container">
  <section class="table-wrapper">
    <table *ngIf="dataSource?.length" mat-table
           [dataSource]="dataSource" multiTemplateDataRows
           class="mat-elevation-z8">

      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Desc -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container>

      <!-- Percentage -->
      <ng-container matColumnDef="percentage">
        <th mat-header-cell *matHeaderCellDef> Percentage </th>
        <td mat-cell *matCellDef="let element">
<!--          <span>Something text!!!</span>-->
          <div style="background-color: antiquewhite" class="expanded-wrapper" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <app-smart-image-preview></app-smart-image-preview>
          </div>
        </td>
      </ng-container>

      <!-- Created Date -->
      <ng-container matColumnDef="dateCreated">
        <th mat-header-cell *matHeaderCellDef> Created Date </th>
        <td mat-cell *matCellDef="let element"> {{element.dateCreated}} </td>
      </ng-container>

      <!-- Created By -->
      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef> Created By </th>
        <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
      </ng-container>

      <!-- Last Updated By -->
      <ng-container matColumnDef="lastUpdatedBy">
        <th mat-header-cell *matHeaderCellDef> Last Updated By </th>
        <td mat-cell *matCellDef="let element"> {{element.lastUpdatedBy}} </td>
      </ng-container>

      <!-- Visible -->
      <ng-container matColumnDef="visible">
        <th mat-header-cell *matHeaderCellDef> Visible </th>
        <td mat-cell *matCellDef="let element">
            <app-custom-toggle [label]="!!element.visible ? 'Visible' : 'Not visible'" [checked]="element.visible"></app-custom-toggle>
        </td>
      </ng-container>

      <!-- Mode Icon Add radio buttons -->
      <ng-container matColumnDef="modeIcon">
        <th mat-header-cell *matHeaderCellDef> Mode Icon </th>
        <td mat-cell *matCellDef="let element">
<!--          <div class="expanded-wrapper" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">-->
            <app-custom-radio-buttons [labelsList]="element.modeIcon"></app-custom-radio-buttons>
<!--          </div>-->
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
          [class.expanded]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
      </tr>
    </table>
   </section>
</div>
